/* stylesCarousel.css */
.carousel-3d {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 200px auto;
    perspective: 1000px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.carousel-3d-container {
    position: relative;
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 1s;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}

.carousel-3d-item {
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--color-accent-5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out;
    transform-origin: center center -300px;
    padding: 15px;
}

.carousel-3d-item img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.carousel-3d-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: var(--color-text);
    font-weight: bold;
    text-transform: uppercase;

}

.carousel-3d-item .descripcion {
    font-size: 1em;
    color: var(--color-text);
    text-align: center;
    margin: 5px 0;
}

.carousel-3d-item .valor {
    font-size: 1.2em;
    color: var(--color-accent);
    font-weight: bold;
    margin: 5px 0;
}

.carousel-3d-item .btn-reservar {
    background-color: var(--color-success);
    color: var(--color-text-inverse);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.carousel-3d-item .btn-reservar:hover {
    box-shadow: inset 0 0 10px var(--color-success), 0 0 15px var(--color-success);
}

.carousel-3d-prev, .carousel-3d-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-accent-6);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5em;
}

.carousel-3d-prev {
    left: 10px;
}

.carousel-3d-next {
    right: 10px;
}