@import url('colores.css');

/*seccion habitaciones*/
#habitaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-2);
    padding: 20px;
    border-radius: 20px;
}

/*contenedor*/
.carrusel-container {
    position: relative;
    width: 90%;
    height: 60%;
    overflow: hidden;
    box-shadow: var(--shadow-md-bl-black);
    border-radius: 12px;
}

.carrusel {
    display: flex;
    transition: transform 1s ease infinite;
}

.carrusel-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.carrusel-imagen {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.carrusel-descripcion {
    width: 50%;
    padding: 20px;
    background-color: var(--color-background);
    box-sizing: border-box;
    overflow-y: auto;
}

.carrusel-descripcion h2 {
    margin-top: 0;
    color: var(--color-text);
    text-transform: uppercase;
}

.carrusel-descripcion p {
    color: var(--color-text-light);
    line-height: 1.6;
}

.carrusel-descripcion ul{
    list-style-type: none;
    padding: 0;
}

.carrusel-descripcion ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.carrusel-descripcion ul li i {
    margin-right: 10px;
    color: var(--color-primary);
}

.carrusel-boton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-primary-1);
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carrusel-boton:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.carrusel-boton-izquierda {
    left: 10px;
}

.carrusel-boton-derecha {
    right: 10px;
}

@media (max-width: 820px) {
    .carrusel-container {
        width: 90vw;
        height: auto;
    }

    .carrusel-item {
        flex-direction: column;
        width: 90vw;
    }

    .carrusel-imagen,
    .carrusel-descripcion {
        width: 100%;
    }

    .carrusel-imagen {
        height: auto;
    }
}