#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary-2);
    padding: 20px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text-light);
    transition: color 0.3s ease;
}

input, textarea {

    width: 100%;
    padding: 10px 10px 10px 50px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    font-size: 16px;
    background-color: var(--color-background-alt);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea {
    height: 100px;
    resize: vertical;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.2);
}

.input-group:focus-within i {
    color: var(--color-primary);
}