.action-panel {
    display: flex; /* Usar flexbox para alinear elementos en línea */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 20px; /* Espacio debajo del panel de acción */
}

.search-container {
    flex: 1; /* Permitir que el contenedor de búsqueda ocupe el espacio disponible */
    margin-right: 10px; /* Espacio a la derecha del campo de búsqueda */
}

#searchInput {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
}

/* Asegúrate de que el formulario use flexbox */
#searchUserForm, #searchRoomForm, #searchReservaForm {
    display: flex;
    align-items: center; /* Centrar verticalmente */
}

.form-group {
    margin-right: 10px; /* Espacio entre los elementos del formulario */
}

/* Asegúrate de que los botones tengan un margen adecuado */
.btn {
    margin-left: 10px; /* Espacio a la izquierda de los botones */
}